<launch>
  <!-- Launch gazebo simulation -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <!-- <arg name="world_name" value="$(find got_node)/worlds/world02_mod.world"/> -->
    <!-- <arg name="world_name" value="$(find rosbot_gazebo)/worlds/maze.world"/> -->
    <arg name="world_name" value="$(find got_node)/worlds/maze_bug3.world"/>
    <!-- <arg name="world_name" value="$(find got_node)/worlds/maze_mod.world"/> -->
    <!-- <arg name="world_name" value="$(find turtlebot3_gazebo)/worlds/turtlebot3_house.world"/> -->
    <!-- <arg name="world_name" value="$(find my_worlds)/worlds/wordl02.world"/> -->
<!--     <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/> -->
  </include>

</launch>